/* COLORS */
:root {
  --head-foot-col: #527b7b;
  --main-col: #d8e9f1;
  --section-col: #387e9f;
  --section-border-col: #b5adad;
  --white: #ffffff;
}

/* FONTS */

/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: light;
  font-weight: 300;
  src: url("@fonts/poppins-v21-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: regular;
  font-weight: 400;
  src: url("@fonts/poppins-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("@fonts/poppins-v21-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* quicksand-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: light;
  font-weight: 300;
  src: url("@fonts/quicksand-v31-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* quicksand-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: medium;
  font-weight: 500;
  src: url("@fonts/quicksand-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* quicksand-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("@fonts/quicksand-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
}

main {
  background-color: var(--main-col);
}

.container {
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content auto min-content;
}

.data-line {
  font-family: "Quicksand";
  font-weight: 300;
}

label,
legend {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--white);
}

input,
select,
.input-error,
.loc-attr,
.fahrenheit,
.metric,
.forecast-btn,
.my-copyright {
  font-family: "Poppins";
  font-weight: 400;
}

/* HEADER */

header {
  padding: 0.5em;
  text-align: center;
  background-color: var(--head-foot-col);
}

header > h1 {
  font-family: "Poppins";
  font-weight: 400;
  color: var(--white);
}

/* Loading Animation */

.loader-div {
  width: 90%;
  position: absolute;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

.loader {
  margin: auto;
  border: 0.8em solid #e2e6ec;
  border-radius: 50%;
  border-top: 0.8em solid #ff7a59;
  width: 6em;
  height: 6em;
  animation: spinner 2.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* FORM */

.form-div {
  margin-top: 1em;
  width: 90%;
  max-width: 40em;
  margin: 1.5em auto 2em auto;
  border: 1px solid var(--section-border-col);
  border-radius: 0.6em;
  background-color: var(--section-col);
}

.form-line {
  margin: 0.5em 0 1em 0;
  text-align: center;
}

fieldset {
  border: 0.4em solid transparent;
  margin-top: 1em;
  color: var(--white);
}

input {
  margin-top: 0.5em;
}

.location {
  display: flex;
  flex-direction: column;
  margin: 0.5em auto 0 auto;
  padding-left: 0.5em;
  color: var(--white);
}

.input-error {
  color: red;
  text-align: right;
  display: none;
}

.dates-div {
  max-width: 90%;
  display: none;
}

.date-line {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.start-date-line,
.end-date-line {
  display: flex;
  flex-direction: column;
}

.start,
.end {
  text-align: center;
}

.buttons-line {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.forecast-btn {
  padding: 0.5em;
  margin-top: 1.5em;
}

/* Locations Drop-Down */

.loc-dropdown-div {
  max-width: min-content;
  text-align: center;
  margin: 0 auto;
}

.display-locs {
  display: grid;
  grid-template-rows: 1fr min-content;
  justify-content: center;
}

.edit-btn {
  max-width: min-content;
  grid-area: 1 / 1 / 2 / 2;
  margin: 0.5em 0.5em 0 -0.5em;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 1px solid transparent;
}

.edit-btn-img {
  width: 1.5em;
}

.saved-locations {
  grid-area: 1 / 2 / 2 / 3;
  margin-top: 0.5em;
  color: var(--white);
}

.attr-line {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  text-align: right;
  margin: 0.6em 0 2em auto;
  color: var(--white);
}

.loc-attr {
  margin-top: -0.4em;
}

.loc-attr > a {
  color: var(--white);
  cursor: pointer;
}

/* Edit Locations Box */

.loc-edit-box {
  width: 90%;
  position: absolute;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: white;
  border: 1px solid red;

  display: none;
}

.cancel-div {
  text-align: right;
  max-width: 95%;
  margin: 0.5em 0;
}

.cancel-btn {
  max-width: min-content;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 1px solid transparent;
}

.cancel-btn-img {
  width: 1.5em;
}

.edit-form {
  margin: 0 auto 1em auto;
  border: none;
}

.instruct {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.edit-menu {
  border: none;
  padding: 0.5em;
  margin-bottom: 1em;
}

.options {
  font-size: 1rem;
  margin-bottom: 0.3em;
}

.rmv-btn {
  padding: 0.5em 1em;
  border-radius: 1em;
}

/* Tab Btns and Forms Container */

.display-info {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 1fr;
  width: 90%;
  max-width: 40em;
  margin: 0 auto 3em auto;
}

.btns-div {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1em;
}

.today-btn,
.fifteen-btn,
.historic-btn {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1rem;
  max-width: 10ch;
  min-height: 3em;
  background-color: var(--white);
  color: var(--section-col);
  padding: 0.3em 0.6em;
  border: 0.1em solid var(--section-col);
  border-right: none;
  border-radius: 0.6em 0 0 0.6em;
}

.tab-btn--active {
  background-color: var(--section-col);
  color: var(--white);
}

.forecast-info {
  grid-area: 1 / 2 / 2 / 3;
  padding: 0.5em;
  background-color: var(--section-col);
  border: 0.1em solid var(--section-border-col);
  border-left: none;
  border-radius: 0 0.6em 0.6em 0.6em;
  display: none;
}

.forecast-info--active {
  display: initial;
}

.date-descrip-div,
.date-div {
  margin-bottom: 2em;
}

.data-line {
  max-width: max-content;
  margin: 0.8em auto;
  display: flex;
  gap: 1em;
  color: var(--white);
}

.data-heading {
  font-weight: bold;
}

.date-line {
  margin-bottom: 0;
}

.today-description {
  text-align: center;
  margin: 0.1em 0.3em 0 0.3em;
}

.today-icon-div,
.icon-div {
  margin: 2em auto;
}

.min-max-div {
  display: flex;
  margin-top: 2em;
}

.today-min-line,
.min-line,
.today-max-line,
.max-line {
  display: flex;
  flex-direction: column;
}

.min-heading,
.max-heading {
  margin-bottom: -0.6em;
}

.today-min,
.min,
.today-max,
.max {
  max-width: max-content;
  margin: 0 auto;
}

.divider {
  max-width: max-content;
  text-align: center;
  font-weight: bold;
  margin: 1em auto 2em auto;
}

/* FOOTER */

.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: var(--head-foot-col);
}

.copyright-div {
  justify-self: flex-end;
}

.my-copyright {
  color: var(--white);
  margin-right: 1em;
}

.github-logo {
  max-width: 2em;
}

.weather-icon {
  width: 64px;
}
