* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content auto min-content;
}

header {
  padding: 0.5em;
  text-align: center;
}

/* FORM */

.form-div {
  margin-top: 1em;
  max-width: 90%;
  margin: 1.5em auto 2em auto;
  border: 1px solid black;
}

.form-line {
  margin: 0.5em 0 1em 0;
  text-align: center;
}

fieldset {
  border: 0.4em solid transparent;
  margin-top: 1em;
}

.buttons-line {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.forecast-btn {
  padding: 0.5em;
}

.dates-div {
  margin: 0.5em auto 1.3em auto;
  border: 1px solid black;
  max-width: 90%;
  display: none;
}

.hist-dates-header {
  text-align: center;
  margin-bottom: 0.5em;
}

.date-line {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.start-date-line,
.end-date-line {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 0.5em;
}

/* Locations Drop-Down */

.loc-dropdown-div {
  max-width: 90%;
  text-align: center;
  margin: 0 auto 2em auto;
}

/* Tab Btns and Forms Container */

.display-info {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 1fr;
  max-width: 90%;
  margin: 0 auto 3em auto;
}

.btns-div {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  justify-items: center;
  gap: 1em;
}

.today-btn,
.fifteen-btn,
.historic-btn {
  max-width: min-content;
  font-size: 1rem;
  padding: 0.3em 0.6em;
  border: 0.1em solid black;
  border-right: 0.1em solid transparent;
  border-radius: 0.6em 0 0 0.6em;
}

.forecast-info {
  border: 0.1em solid black;
  grid-area: 1 / 2 / 2 / 3;
  padding: 0.5em;
  display: none;
}

.forecast-info--active {
  display: initial;
}

/* FOOTER */

.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.copyright-div {
  justify-self: flex-end;
}

.my-copyright {
  margin-right: 1em;
}

.github-logo {
  max-width: 2em;
}
