<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Removed initial-scale and max-width from content attribute to fix zooming problems on mobile -->
    <title><%= title %></title>
    <link href="@images/favicon.svg" rel="icon" />
    <link href="@styles/style.css" rel="stylesheet" />
    <script src="@scripts/index.js" defer="defer"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Weather App</h1>
      </header>
      <main>
        <div class="loader-div">
          <div class="loader"></div>
        </div>

        <div class="loc-edit-box">
          <form
            class="edit-form"
            id="edit-form"
            edit-locations="edit-locations"
            action="#"
          ></form>
        </div>

        <div class="form-div" data-form="input">
          <form class="input-form" id="input-form" action="#" novalidate>
            <div class="form-line">
              <label for="location">Enter Location: </label>

              <input
                type="text"
                id="location"
                name="location"
                class="location"
                required
                minlength="2"
                size="30"
                autocomplete="off"
              />
              <span class="input-error">Please enter a location.</span>
            </div>

            <div class="form-line loc-dropdown-div">
              <label for="saved-locations" form="input-form"
                >Your Saved Locations:</label
              >
              <div class="display-locs">
                <button class="edit-btn">
                  <img
                    class="edit-btn-img"
                    src="@images/icons/edit-button-svgrepo-com.svg"
                    alt="Edit Locations Button"
                  />
                </button>

                <select
                  name="locations"
                  class="saved-locations"
                  id="saved-locations"
                >
                  <option value="" disabled>--Please add a location--</option>
                </select>
              </div>
              <div class="attr-line">
                <span class="loc-attr">Location Data from </span>
                <span class="loc-attr">
                  <a
                    href="http://www.openstreetmap.org/copyright"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Open Street Map</a
                  ></span
                >
              </div>
            </div>

            <div class="form-line">
              <fieldset>
                <legend>Units:</legend>

                <div class="buttons-line">
                  <div class="radio-btn">
                    <input
                      type="radio"
                      id="fahrenheit-unit"
                      name="units"
                      class="fahrenheit-unit"
                      value="us"
                    />
                    <label for="fahrenheit-unit">Fahrenheit</label>
                  </div>

                  <div class="radio-btn">
                    <input
                      type="radio"
                      id="metric-unit"
                      name="units"
                      class="metric-unit"
                      value="metric"
                    />
                    <label for="metric-unit">Celcius</label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="dates-div">
              <div class="date-line">
                <div class="form-line start-date-line">
                  <label for="start" form="input-form">Start date:</label>

                  <input
                    type="date"
                    id="start"
                    class="start"
                    name="start"
                    value=""
                  />
                </div>

                <div class="form-line end-date-line">
                  <label for="end" form="input-form">End date:</label>
                  <input type="date" id="end" class="end" name="end" value="" />
                </div>
              </div>
            </div>

            <div class="form-line">
              <button type="submit" name="submit" class="forecast-btn">
                Get Forecast
              </button>
            </div>
          </form>
        </div>

        <div class="display-info">
          <div class="btns-div">
            <button type="button" class="tab-btn today-btn" data-tab="today">
              Today
            </button>
            <button
              type="button"
              class="tab-btn fifteen-btn"
              data-tab="fifteen"
            >
              Fifteen Day
            </button>
            <button
              type="button"
              class="tab-btn historic-btn"
              data-tab="historic"
            >
              Historic
            </button>
          </div>

          <div class="forecast-info" data-name="today">
            <div class="date-div">
              <div class="data-line date-line">
                <p class="today-date">---</p>
              </div>
              <div class="data-line">
                <p class="today-description">---</p>
              </div>
            </div>

            <div class="data-line today-icon-div"></div>

            <div class="data-line">
              <p class="data-heading">Temp:</p>
              <p class="today-temp">---</p>
            </div>

            <div class="data-line">
              <p class="data-heading">Feels Like:</p>
              <p class="today-feels">---</p>
            </div>

            <div class="min-max-div">
              <div class="data-line min-line">
                <p class="data-heading min-heading">Min:</p>
                <p class="today-min">---</p>
              </div>

              <div class="data-line max-line">
                <p class="data-heading max-heading">Max:</p>
                <p class="today-max">---</p>
              </div>
            </div>
          </div>

          <div class="forecast-info" data-name="fifteen">
            <div class="data-line date-line">
              <p class="date">---</p>
            </div>

            <div class="data-line icon-div"></div>

            <div class="min-max-div">
              <div class="data-line min-line">
                <p class="data-heading min-heading">Min:</p>
                <p class="min">---</p>
              </div>

              <div class="data-line today-max-line">
                <p class="data-heading max-heading">Max:</p>
                <p class="max">---</p>
              </div>
            </div>
          </div>

          <div class="forecast-info" data-name="historic">
            <div class="data-line date-line">
              <p class="date">---</p>
            </div>

            <div class="data-line icon-div"></div>

            <div class="min-max-div">
              <div class="data-line min-line">
                <p class="data-heading min-heading">Min:</p>
                <p class="min">---</p>
              </div>

              <div class="data-line today-max-line">
                <p class="data-heading max-heading">Max:</p>
                <p class="max">---</p>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <footer class="footer-div">
          <div class="copyright-div">
            <p class="my-copyright">Jenn Guneratne © 2024</p>
          </div>

          <div class="logo-div">
            <a
              href="https://github.com/jguneratne/weather-app"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="@images/icons/github-mark.svg"
                alt="GitHub Logo: Click to visit GitHub repository for this site."
                class="github-logo"
              />
            </a>
          </div>
        </footer>
      </footer>
    </div>
  </body>
</html>
