<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Removed initial-scale and max-width from content attribute to fix zooming problems on mobile -->
    <title><%= title %></title>
    <link href="../styles/style.css" rel="stylesheet" />
    <script src="../js/index.js" defer="defer"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Weather App</h1>
      </header>
      <main>
        <div class="form-div">
          <form action="#">
            <div class="form-line">
              <label for="location">Enter Location or US Zip Code: </label>

              <input
                type="text"
                id="location"
                name="location"
                class="location"
                required
                minlength="2"
                size="30"
              />
            </div>

            <div class="date-line">
              <div class="form-line">
                <label for="start">Start date:</label>

                <input
                  type="date"
                  id="start"
                  class="start"
                  name="start"
                  value=""
                />
              </div>

              <div class="form-line">
                <label for="start">End date:</label>

                <input type="date" id="end" class="end" name="end" value="" />
              </div>
            </div>

            <div class="form-line">
              <fieldset>
                <legend>Units:</legend>

                <div class="buttons-line">
                  <div class="radio-btn">
                    <input
                      type="radio"
                      id="farenheight-unit"
                      name="farenheight-unit"
                      class="farenheight-unit"
                      value="farenheight"
                    />
                    <label for="farenheight-unit">Farenheight</label>
                  </div>

                  <div class="radio-btn">
                    <input
                      type="radio"
                      id="metric-unit"
                      name="metric-unit"
                      class="metric-unit"
                      value="metric"
                    />
                    <label for="metric-unit">Celcius</label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="form-line">
              <button type="submit" class="forecast-btn">Get Forecast</button>
            </div>
          </form>
        </div>
      </main>
      <footer>
        <footer class="footer-div">
          <div class="copyright-div">
            <p class="my-copyright">Jenn Guneratne © 2024</p>
          </div>

          <div class="logo-div">
            <a
              href="https://github.com/jguneratne/weather-app"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="../assets/imgs/github-mark.svg"
                alt="GitHub Logo: Click to visit GitHub repository for this site."
                class="github-logo"
              />
            </a>
          </div>
        </footer>
      </footer>
    </div>
  </body>
</html>
